<h1>{{ question.title }}</h1>
<ul class="reference-list">
{% for reference in references %}
    <li>
        <a class="reference" href="{% url 'partial' reference.id %}">{{ reference.title }}</a>
        <span class="logic" title="联系的逻辑属性">{{ reference.logic }}</span>
        <a class="remove-reference" href="" data-to-id="{{ reference.id }}">删除</a>
    </li>
{% endfor %}
</ul>
<div class="add-reference">
    <select class="add-reference-select">
        {% for q in question_list %}
        <option value={{ q.pk }}>{{ q.title }}</option>
        {% endfor %}
    </select>
    <input class="add-reference-logic" type="text" placeholder="逻辑属性">
    <input class="current-id" type="hidden" value="{{ question.pk }}">
    <button class="add-reference-button">添加联系</button>
</div>
<div>
    <a class="edit" href="">编辑</a>
    <p class="content">{{ question.content }}</p>
    <div class="edit-content">
        <textarea class="edit-pad" type="text" data-id="{{ question.pk }}">{{ question.content }}</textarea>
        <button class="edit-submit">提交</button>
    </div>
</div>
